{% extends 'base.html' %}
{% block title %}Inventory{% endblock %}
{% block page_content %}

    <section class="additional">
        <h1>Ingredients</h1>
        <a href="{% url 'add_ingredient' %}">Add Ingredient</a>
    </section>
    <section class="tbl-header">
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Unit</th>
                <th>Price per Unit</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for i in object_list %}
                <tr>
                    <td>{{ i.ingredient_name }}</td>
                    <td>{{ i.available_qty }}</td>
                    <td>{{ i.unit }}</td>
                    <td>${{ i.price_unit }}</td>
                    <td class="actions">
                        <a href="{% url 'delete_ingredient' i.id %}" >&#10060</a>
                        <a href="{% url 'edit_ingredient' i.id %}" >&#x2712</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}