{% extends 'base.html' %}
{% block title %}Purchases{% endblock %}
{% block page_content %}
    <section class="additional">
        <h1>Purchases</h1>
        <a href="{% url 'add_purchase' %}">Add Purchase</a>
    </section>
    <section class="tbl-header">
        <table>
            <thead>
            <tr>
                <th>Item</th>
                <th>Purchase Time</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for p in object_list %}
                <tr>
                    <td>{{ p.menu_item }}</td>
                    <td>{{ p.purchase_time }}</td>
                    <td class="actions">
                        <a href="{% url 'delete_purchase' p.id %}" >&#10060</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}