{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/inventory/restaurant-finance.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/inventory/lists.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/inventory/menu-items.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/inventory/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/inventory/forms.css' %}">

    <link rel="icon" href="{% static 'images/favicon/favicon.png' %}" type="image/x-icon">
</head>
<body>
<header class="header">
    <img src="{% static 'images/logo.png' %}" alt="logo" class="logo">
    <nav class="nav-container">
        <ul class="nav" role="list">
            {% if request.user.is_authenticated == False %}
                <li>
                    <a href="{% url 'login' %}" class="nav-item">Login</a>
                </li>
            {% else %}
                <li>
                    <a href="{% url 'home' %}" id='nav-item' class="nav-item">Home</a>
                </li>
                <li>
                    <a href="{% url 'ingredients_list' %}" class="nav-item">Ingredients</a>
                </li>
                <li>
                    <a href="{% url 'recipe_requirements' %}" class="nav-item">Recipes Req.</a>
                </li>
                <li>
                    <a href="{% url 'purchases' %}" class="nav-item">Purchases</a>
                </li>
                <li>
                    <a href="{% url 'menu_items' %}" class="nav-item">Menu Items</a>
                </li>
                <li>
                    <a href="{% url 'restaurant_finance' %}" class="nav-item">Restaurant Finance</a>
                </li>
                <li>
                    <a href="{% url 'logout' %}" class="logout">Logout</a>
                </li>
            {% endif %}
        </ul>
    </nav>
</header>
<main>
    {% block page_content %}
    {% endblock %}
</main>
<footer>
    <section class="footer-info">
        <ul role="list">
            <h4>Contact Us</h4>
            <a href="">blba</a>
            <a href="">bla</a>
            <a href="">bla</a>
        </ul>
        <ul role="list">
            <h4>Our Services</h4>
            <a href="">bla</a>
            <a href="">bla</a>
            <a href="">bla</a>
        </ul>
        <ul role="list">
            <h4>Quick Link</h4>
            <a href="">bla</a>
            <a href="">bal</a>
            <a href="">bla</a>
        </ul>

    </section>

</footer>
</body>
</html>