@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;1,200;1,600&family=PT+Sans:wght@400;700&family=PT+Serif:wght@400;700&display=swap');

html {
    scroll-behavior: smooth;
}


body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #bdc4b5;
}

.logo {
    height: 100%;
}

ul {
    list-style-type: none;
}

.header {
    width: 100%;
    background-color: #f4e4d4;
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    margin-bottom: 80px;
    top: 0;
    z-index: 100;
}

.header .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    background-color: #f4e4d4;
}

.navbar {
    background-color: #f4e4d4;
}

.navbar-brand {
    color: #b5bdc4;
}

.nav-link {
    color: #97a28a;
}

.navbar li {
    list-style-type: none;
}

footer {
    background-color: #f4e4d4;
    color: black;
    width: 100%;
    height: 260px;

    display: flex;
    flex-direction: row;
    align-items: center;

    margin-top: auto;
}

.footer-info {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-info ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


.logout {
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    color: #DD2D4A;
}

.login {
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    color: #bdc4b5;
}

@media (max-width:480px) {
    .footer-info {
        margin: 0;
        width: 390px;
    }
}